:root{
    --blue-dark-color: rgb(68, 20, 201); 
  /* --bs-gray-600: #6c757d;
  --bs-gray-700: #495057; */
  
}

.bg-blue{
    background-color: var(--blue-dark-color);
    color: #fff;
}

.carousel-caption {
    bottom: 85vh;
    text-align: right;
}

.text-blue{
    color: var(--blue-dark-color);
}



--bs-gray-100: #f8f9fa;